.backgroundDevelop{
    min-height: 800px; 
    width: 100%;
}
.backgroundDevelopSecond{
    height: 800px;
    
}

.headH3{
    color: #ffffff;
    font-size: 40px;
    font-weight: 500;
    line-height: 72px;  
}
.headText{
    padding-top: 40px;
    color: #ffffff;
    font-size: 30px;
    font-weight: 500;
    line-height: 52px;
    padding-bottom: 100px; 
    flex-direction: column;
    width: 600px;
}
.headTextContent{
    display: flex;
    flex-direction: column;
    padding-top:60px ;
    
}

.headcontent{
    display: flex;
    justify-content: space-around; 
    align-items: center;
    justify-items: center; 
    padding-top: 100px;
    margin: 0 auto;
}
.headImg{
    min-height: 576px;
    width: 535.26px;
    position: relative; 
}
.cardDevelops{
    padding-top: 100px;
}
.develoOrder{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 60px;
    max-width: 900px;
    margin: 0 auto; 
}
.develoOrderImgDiv{
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center; 
}
.develoOrederImg{
    padding-bottom: 20px;
}
.executionOrder{
padding-bottom: 120px;
}
@media screen and (max-width: 992px) {
    .backgroundBotSecond {
        height: 1600px;
    }
    .headcontent{
     padding-top: 10px;
     display: flex;
     flex-direction: column;
     
    }
    .backgroundDevelop{
        min-height: 900px;
    }
    .headTitle{
        font-size: 40px;
       }
    .headTextTitle{
        font-size: 20px;
       }

    .headImg{
        min-height: 300px;
        width: 350px; 
    }  
    .develoOrder{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
    } 
    .backgroundDevelopSecond{
        height: 1550px;
        
    }
}