.header__container {
    max-width: 1450px;
    margin: 0 auto;
    padding: 0 10px;
}

.header {
    box-shadow: 0 1px 1px #C4C4C4;
}

.navBar {
    background-color: #FFFFFF;
    margin-top: 10px;
}

.logo {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    margin-left: 20px;
}

.logo__span {
    font-weight: 800;
    line-height: 24px;
}

.header__link {
    margin-right: 25px;
    font-weight: 700;
    font-size: 20px;
    text-transform: lowercase;
    line-height: 24px;
}

.dropDown:hover {
    background-color: #286674;
    color: #FFFFFF;
}