@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800&display=swap');

body {
  background-color: #FFFFFF;
  color: #000000;
  font-family: 'Inter', sans-serif;
}

.pageContent {
  display: flex;
  flex-direction: row;
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 10px;
}

.contentContainer {
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text__block {
  width: 80%;
  margin-bottom: 200px;
  padding: 0 100px 0 110px;
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
}

.centerCont {
  margin-top: 10px;
}

.asideCol {
  position: fixed;
  bottom: 20px;
}

.title__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.second__title {
  margin-top: 200px;
  font-size: 60px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 72px;
}

.items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 100px;
  justify-items: center;
  max-width: 700px;
  margin: 0 auto;
}

.buttonWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 70px;
  
}

.bottomContent {
  margin-bottom: 50px;
}

/*test style */

/**/




